* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #A3CEEF;
    display: flex;
    align-items: center;
    gap: 23%;
    padding: 15px;
}

a {
    text-decoration: none;
    color:black;
}

#botao-inicial {
    display: flex;
    gap: 20px;
}

.apertar {
    background-color: #0096C7;
    padding: 5px;
    border-radius: 5px;
}

header a {
    font-size: 17px;
}

#treinar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #A3CEEF;
}

#minisite {
    font-size: 20px;
}