* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #A3CEEF;
    display: flex;
    align-items: center;
    gap: 23%;
    padding: 15px;
}

a {
    text-decoration: none;
    color:black;
}

#botao-inicial {
    display: flex;
    gap: 20px;
}

.apertar {
    background-color: #0096C7;
    padding: 5px;
    border-radius: 5px;
}

header a {
    font-size: 17px;
}

#inicio {
    background-color: #25a18e;
    padding: 25px;
}

#conheca {
    font-size: 40px;
}

#titulo-cards {
    font-size: 35px;
    padding: 20px;
    margin-left: 15px;
}

main {
    background-color: #fcf2d0;
}

.card {
    background-color: #ff6a00e1;
    width: 30%;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #C59B27;
}

.card img {
    width: 100%;
    object-fit: cover;
    height: 350px;
}

.nomes {
    font-size: 30px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

table {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

th, td, caption {
    border: 1px solid #C59B27;
}

th, caption {
    background-color: #ff6a00e1;
    font-size: 20px;
}

td {
    font-size: 17px;
}

#treinar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #A3CEEF;
}

#minisite {
    font-size: 20px;
}

