* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #A3CEEF;
    display: flex;
    align-items: center;
    gap: 23%;
    padding: 15px;
}

a {
    text-decoration: none;
    color:black;
}

#botao-inicial {
    display: flex;
    gap: 20px;
}

.apertar {
    background-color: #0096C7;
    padding: 5px;
    border-radius: 5px;
}

.apertar-conheca {
    background-color: #0096C7;
    padding: 0px 5px;
    border-radius: 15px;
    font-size: 20px;
}

header a {
    font-size: 17px;
}

#tela-inicial {
    background-color: #25a18e;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 25%;
    line-height: 35px;
    padding: 20px;
    flex-wrap: nowrap;
}

#conheca{
    display: flex;
    flex-direction: column;
    width: 23%;
    gap: 8px;
    flex-wrap: nowrap;
}

main {
    background-color: #F7F4EA;
}

h2 {
    font-size: 45px;
}

#tela-inicial img {
    width: 500px;
    height: auto;
}

#destaque {
    padding: 25px;
}

#cards {
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: space-evenly;
    gap: 1px;
    margin-bottom: 50px;
    padding: 20px;
    margin-top: 20px;
}

#poderes {
    margin-left: 80px;
    font-size: 35px;
}

#unicos {
    background-color: #ff6a00e1;
    border-radius: 20px;
    padding: 10px;
    width: 27%;
}

#mitos {
    background-color: #ff6a00e1;
    border-radius: 20px;
    padding: 10px;
    width: 27%;
}

#equipe {
    background-color: #ff6a00e1;
    border-radius: 20px;
    padding: 10px;
    width: 27%;
}

#parte-baixo {
    text-align: center;
    line-height: 30px;
    padding: 15px;
    background-color: #ddcab0b2;
}

#aperta-percy {
    background-color: #c59b27ae;
    padding: 5px;
    border-radius: 5px;
}

#treinar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #A3CEEF;
}

#minisite {
    font-size: 20px;
}